//Website Colors
@primary-color:@green;
@secondary-color:@red;

//Colours
@white:#ffffff;
@red:#990000;
@black:#000000;
@grey:#cccccc;
@green:#008000;

//Mixins
.content-box{
	
	border: 1px solid @black;
	padding: 25px;
}