@import url(imports.less);

body {
	background: @white;
}
.bg {
	padding:30px;
}
.header {
	.make-row();
	background: @grey;
	.contact {
		a {
			
			
			color: @black;
		}
	}

	.contact {
		.make-lg-column(11);
		.make-md-column(11);
		.make-sm-column(11);
		color: @white;
	}
	ul{
		list-style-type: none;
	}
	li{
		display:inline;}
}
.social-media{
	.make-lg-column(1);
	.make-md-column(1);
	.make-sm-column(1);
	color: @white;
}


.masthead {
		.make-row();
	
		.logo{
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);
		}
		.logo2{
			.make-sm-column(1);
			.make-md-column(1);
			.make-lg-column(1);
			.pull-right();
		}
	padding:30px;
}
nav{
	background:@red;
	
	ul{
	
	}	
	li{
		float:left;
		padding:20px;
		list-style-type: none;

		
	}
	a{text-decoration: none;}
}
.slider{
		background:@black;
	img{
		
	}
}
.cta{
	.make-row();
	background:@gray;
	height:250px;
	width:100%;
	.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
          box-shadow: @shadow;
}

	.new-cars{
		.make-sm-column(3);
		.make-md-column(3);
		.make-lg-column(3);
		padding-top:25px;
		padding-bottom:25px;

		}
	.used-cars{
		.make-sm-column(3);
		.make-md-column(3);
		.make-lg-column(3);
		padding-top:25px;
		padding-bottom:25px;

		}
	.credit{
		.make-sm-column(3);
		.make-md-column(3);
		.make-lg-column(3);
		padding-top:25px;
		padding-bottom:25px;

		}
	.appointment{
		.make-sm-column(3);
		.make-md-column(3);
		.make-lg-column(3);
		padding-top:25px;
		padding-bottom:25px;

		}

}
.feature{
	.make-row();
	h3{color:@red;
		.make-sm-column(9);
		.make-md-column(9);
		.make-lg-column(9);}
	h4{.pull-right;
		.make-sm-column(3);
		.make-md-column(3);
		.make-lg-column(3);
		color:@red;
		margin-top: 20px;}

}

.gray-box{
	.make-row();
	background-color: @gray-dark;
	padding:20px;
	
	.feature-one{
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);
		}
	.feature-two{
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);
		
	}
	.feature-three{
		.make-sm-column(4);
		.make-md-column(4);
		.make-lg-column(4);

	}
		
		}
.main-content{
	.make-row();
	.make-sm-column(8);
	.make-md-column(8);
	.make-lg-column(8);
	h3{
		color:@red;
	}
	p{color:@black;}
}
.side-bar{
	.make-sm-column(4);
	.make-md-column(4);
	.make-lg-column(4);
	h3{
		color:@red;
	}
	.first-time{margin-bottom: 10px;}
	.video1{margin-bottom: 10px;}
.button{
	margin-top: 20px;
	.btn();
	.btn-lg();
	.btn-primary();
	a{color:@white;}
	
}

}
footer{
	

	li {color:@gray;
		list-style-type: none;
		font-size: .9em;
		}
	background-color: @gray-dark;
	.name{
		
		h4{font-size: 1.5em;
			color: @white;
		.make-sm-column(12);
		.make-md-column(12);
		.make-lg-column(12);
		}
		li{
			list-style-type: none;}
		a{color:@white;}
		a:hover{color:@red;
				text-decoration: none;}
	}
	.col1{.make-sm-column(2);
		.make-md-column(2);
		.make-lg-column(2);
		a{color:@white;}
		a:hover{color:@red;
				text-decoration: none;}}
	.col2{
		.make-sm-column(2);
		.make-md-column(2);
		.make-lg-column(2);
		a{color:@white;}
		a:hover{color:@red;
				text-decoration: none;}
	}
	
	.col3{
		.make-sm-column(2);
		.make-md-column(2);
		.make-lg-column(2);
		a{color:@white;}
		a:hover{color:@red;
				text-decoration: none;}
	}
	.col4{
		.make-sm-column(2);
		.make-md-column(2);
		.make-lg-column(2);
		
		li{list-style-type: none;}
		a{color:@white;
		}
		a:hover{color:@red;
				text-decoration: none;}
	}

	

	.contact{
		.make-sm-column(2);
		.make-md-column(2);
		.make-lg-column(2);
		h4{	font-size: 1.5em;
			color:@white;
		}
		/*.pull-right();*/

		ul{list-style-type: none;}
		li{color:@white;
			text-align: right;}
		
	}
}
