h1{
	color:@primary-color;
}
p{
	color:@secondary-color;
}

.content-area{
	a{
		color:@black;
		text-decoration: none;

		&:hover{
			color:@red;
			text-decoration: underline;
		}
	}
}

h3{
	color:@red;
}